.col-btn-learn {
    display: flex;
    flex-direction: row;
}

.header-chapter {
    cursor: pointer;
}

.title-lesson-name {
    cursor: pointer;
}

.item-loading.spinner-border {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
}