label.radio {
    width: 40% !important;
    display: inline-block !important;
    margin: 10px 10px !important;
}

.UserExercise .question {
    max-width: 100% !important;
    width: 100%;
    text-align: center;
  }